@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;600&display=swap');
:root {
    --letras: rgb(255, 255, 255);
    --bgc_oscuro: rgb(26, 32, 44);
    --bgc_oscuro_clar: rgba(52, 59, 75, 0.8);
    --bgc_oscuro_transp: rgba(26, 32, 44, .5);
    /* letras */
    --letra_dosis: 'Dosis', sans-serif;
}
*{
    box-sizing: border-box;
}
body {
    margin: 0px;
}
a {
    list-style: none;
    text-decoration: none;
}
.navegation {
    position: absolute;
    z-index: 50;
    display: block;
    width: 100%;
    height: 60px;
    background-color: var(--bgc_oscuro);
}
.navegation-options {
    position: absolute;
    padding-inline-start: 0px;
    top: 60px;
    height: auto;
    width: 100vw;
    margin: 0px;
    background-color: var(--bgc_oscuro_transp);
    transform: translateX(-100%);
    transition: all .5s;
}
.navegation-options li {
    display: block;
    padding: 30px 0;
    padding-left: 60px;
    border: 1px solid var(--letras);
}
.navegation-options li:hover{
    background: var(--bgc_oscuro_clar);
}
.navegation-options a {
    color: var(--letras);
}
.mostrar {
    transform: translateX(0%);
}
.picture-image {
    height: 40px;
    border-radius: 50%;
    margin: 10px 0 0 10px;
}
.menu {
    display: none;
}
.icon-menu {
    float: right;
    cursor: pointer;
    margin: 16px 16px 0 0;
}


/* /////////MAIN///////////////////////// */
/* /////////HOME///////////////////////// */


.home {
    height: 100vh;
    text-align: center;
    background-color: var(--bgc_oscuro);
    color: var(--letras);
}
.photo-dumas {
    width: 18rem;
    margin: 110px 0px 0px 0px;
    border-radius: 50%;
}
.name {
    margin: 0px;
    padding: 4px;
    font-family: var(--letra_dosis);
    letter-spacing: 3px;
    font-size: 20px;
    line-height: 30px;
}
.name strong {
    color: rgb(120, 124, 175);
}
.title {
    margin: 0px;
    font-family: var(--letra_dosis);
    font-size: 9px;
    letter-spacing: 2px;
}
.title-profession {
    font-weight: lighter;
    margin: 0px;

}



/* /////////ABOUT ME///////////////////////// */

.about-me {
    background-color: rgb(54, 32, 145);
    /* background-color: rgb(36, 42, 66); */
    font-family: var(--letra_dosis);
    color: var(--letras);
    height: 100vh;
}
.interests {
    text-align: center;
    padding-top: 25px;
}
.interests-title {
    margin: 0;
    letter-spacing: 1px;
    font-size: 20px;
    line-height: 30px;
}
.interests-description {
    letter-spacing: 1px;
    word-spacing: 4px;
    font-size: 17px;
    line-height: 30px;
}
.skills {
    text-align: center;
}
.skills-title {
    letter-spacing: 1px;
    word-spacing: 4px;
    font-size: 20px;
    line-height: 30px;
}
.logos {
    display: inline-block;
    margin: 0px 25px 15px 25px;
}
.logos img {
    width: 6rem;
}
.js img {
    border-radius: 10px;
    font-size: 0.3rem;
    width: 20em;
}





.container {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}